body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav {
    margin-bottom: 20px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
}

.attractions-list {
    list-style-type: none;
    padding: 0;
}

footer {
    margin-top: 50px;
    text-align: center;
}