<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<h1>Add New Attraction</h1>

<form action="/attractions/save" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="city">City:</label>
    <select id="city" name="city" required>
        <option th:each="city : ${cities}" th:text="${city}"></option>
    </select><br><br>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea><br><br>


    <label>Tags:</label><br>
    <div th:each="tag : ${tags}">
        <input type="checkbox" id="tag" name="tags" th:value="${tag}" th:text="${tag}">
    </div>
    <br>

    <button type="submit">Submit</button>


    <a href="/attractions" class="btn btn-secondary">Return</a>
</form>

</body>
</html>
